:root {
    --handf-height: 2rem;
    --handf-heightbig: 2.5rem;
}

@font-face {
    font-family: 'Blockletter';
    src: local('Blockletter'), url('Blockletter.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'spartan_mblight';
    src: url('spartanmb-light.woff2') format('woff2'), url('spartanmb-light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Quattrocento Sans Regular';
    src: local('Quattrocento Sans Regular'), url('quattrocento-sans.regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Cocogoose Pro Ultralight-trial';
    src: local('Cocogoose Pro Ultralight-trial'), url('Cocogoose Pro Ultralight-trial.woff') format('woff');
    font-display: swap;
}

body, h1, h2, h3 {
    margin: 0;
}

.main-wrapper {
    height: auto;
}

.newHeight {
    height: 100vh;
    overflow: hidden;
}

.main-footer {
    background-color: #000;
    width: 100%;
    height: var(--handf-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>h2 {
    color: #fff;
    font-family: 'spartan_mblight';
    margin: 0;
    font-size: .6em;
    vertical-align: middle;
}

.presentation {
    position: relative;
    height: calc(100vh - var(--handf-height));
    background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.presentation-container {
    position: relative;
    height: calc(100% - .5rem);
    width: calc(100% - .5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: .25rem;
}

@media only screen and (min-width: 400px) {
    .presentation-container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 800px) {
    .presentation-container>a {
        margin-inline: 5%;
        height: 14rem;
        width: 11rem;
    }
}

.presentation-container-2 {
    height: 8rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.25rem;
    margin: 0;
    border: solid 0.25rem #000;
    animation: presentation-container-2 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    color: #000;
}

.presentation-container-2:hover {
    transform: scale(1.1);
    transition: .1s;
    filter: invert(1);
}

.presentation-title {
    font-family: 'spartan_mblight';
    font-size: 1.1em;
    z-index: 1000;
}

@media only screen and (min-width: 400px) {
    .presentation-title {
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 800px) {
    .presentation-title {
        font-size: 1.5em;
    }
}

.principal {
    min-height: calc(100vh - 4rem);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 33%, rgba(5, 93, 176, 1) 66%, rgba(0, 212, 255, 1) 100%);
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.menu-container {
    width: 100%;
    height: var(--handf-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

@media only screen and (min-width: 500px) {
    .menu-container {
        justify-content: space-evenly;
    }
}

@media only screen and (min-height: 720px) {
    .menu-container {
        height: var(--handf-heightbig);
    }
}

.menu-container>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    color: #fff;
    font-size: .85em;
    font-family: 'Blockletter';
    margin-inline: .25rem;
    text-align: center;
}

@media only screen and (min-width: 320px) {
    .menu {
        font-size: 1em;
    }
}

@media only screen and (min-width: 500px) {
    .menu {
        font-size: 1.25em;
    }
}

@media only screen and (min-width: 900px) {
    .menu {
        font-size: 1.5em;
    }
}

.menu:hover {
    color: #B6C2D9;
}

.cart {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 600px) {
    .cart {
        margin-inline-end: .5rem;
    }
}

.cart:hover, .home:hover {
    background-color: #B6C2D9;
    border-radius: 0.2rem;
}

.home-img {
    height: 0.8rem;
    background-color: #fff;
    border-radius: 0.2rem;
}

@media only screen and (min-width: 500px) {
    .home-img {
        height: 1em;
    }
}

.cart-amount {
    color: #e3e4e5;
    font-family: 'Blockletter';
    margin: 0;
}

.swiper {
    height: calc(100vh - 4rem);
}

@media only screen and (min-width: 1000px) {
    .swiper {
        height: calc(100vh - 4.5rem);
    }
}

@media only screen and (min-width: 1000px) {
    .swiper-slide {
        flex-direction: row;
    }
}

.img-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .25rem;
    box-shadow: 0px 0px 24px 6px #000 inset;
}

@media only screen and (min-width: 1000px) {
    .img-container {
        width: 50%;
    }
}

.homeimage {
    aspect-ratio: 2/3;
    width: auto;
    max-height: 50vh;
}

@media only screen and (min-width: 1000px) {
    .homeimage {
        max-height: 100%;
    }
}

.side {
    position: relative;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
    .side {
        padding: 0 10%;
    }
}

@media only screen and (min-width: 1000px) {
    .side {
        padding: 0 1.2rem;
        width: 50%;
    }
}

.description-container {
    text-align: center;
}

.title {
    font-size: 2.25em;
    font-family: 'spartan_mblight';
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}

@media only screen and (min-height: 600px) {
    .title {
        font-size: 2.5em;
    }
}

.subtitle {
    font-size: 1.25em;
    font-family: 'spartan_mblight';
    color: #ffbf00;
    margin-bottom: 1rem;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .subtitle {
        font-size: 1.5em;
    }
}

.score-subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}

.air {
    margin-inline-start: .5rem;
}

.score, .air {
    font-size: 1em;
    font-family: 'spartan_mblight';
    color: #fff;
}

@media only screen and (min-width: 600px) {
    .air, .score {
        font-size: 1.1em;
    }
}

.overview {
    font-size: 1em;
    font-family: 'Quattrocento Sans Regular';
    color: #fff;
    margin-bottom: 1.25rem;
    text-align: justify;
    line-height: 1.5;
}

@media only screen and (min-width: 600px) {
    .overview {
        font-size: 1.15em;
    }
}

@media only screen and (min-width: 600px) {
    .description-container {
        text-align: justify;
    }
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price {
    font-family: 'Cocogoose Pro Ultralight-trial';
    font-size: 2.25em;
    margin-block-start: .5rem;
}

@media only screen and (min-width: 600px) {
    .price {
        font-size: 3em;
    }
}

.buy-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.buy-button {
    width: 100%;
    background-color: #ffbf00;
    color: #000;
    text-decoration: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin-top: .25rem;
}

.buy-button:hover {
    background-color: #f5a300;
}
